# Task 5 - Data Analysis

- Data analysis of our [data set](https://archive.ics.uci.edu/ml/datasets/Air+Quality) where we will begin to answer the following research questions.

1. What times of day have the highest (and lowest) air pollution?

2. Why do the two Tungsten Oxides (NOx and NO2) have such a negative correlation?

In [1]:
# load data
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
print(os.getcwd())
path_parent = os.path.dirname(os.getcwd())
print(os.getcwd())
os.chdir(path_parent)
print(os.getcwd())
path_parent = os.path.dirname(os.getcwd())
print(os.getcwd())
os.chdir(path_parent)
print(os.getcwd())
path_parent = os.path.dirname(os.getcwd())
print(os.listdir())

df = pd.read_csv("data/processed/cleanData.cvs")
df

C:\Users\ryan\Desktop\301 git\course-project-group_1050\analysis\submitted
C:\Users\ryan\Desktop\301 git\course-project-group_1050\analysis\submitted
C:\Users\ryan\Desktop\301 git\course-project-group_1050\analysis
C:\Users\ryan\Desktop\301 git\course-project-group_1050\analysis
C:\Users\ryan\Desktop\301 git\course-project-group_1050
['.git', '.replit', 'analysis', 'cleanData.cvs', 'CODE_OF_CONDUCT.md', 'data', 'images', 'LICENSE', 'README.md']

,Unnamed: 0,Date,Time,Cobalt (GT),Tin Oxide (CO),Non-metallic Hydrocarbons (GT),Benzene (GT),Titania (NMHC),Nitrogen Oxide (GT),Tungsten Oxide (NOx),Nitric Oxide (GT),Tungsten Oxide (NO2),Indium Oxide (O3),Temperature (C),Relative Humidity (%),Absolute Humidity (%)
0,0,10/03/2004,18.00.00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,75.78
1,1,10/03/2004,19.00.00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,72.55
2,2,10/03/2004,20.00.00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,75.02
3,3,10/03/2004,21.00.00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,78.67
4,4,10/03/2004,22.00.00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,78.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,9352,04/04/2005,10.00.00,3.1,1314.0,NaN,13.5,1101.0,472.0,539.0,190.0,1374.0,1729.0,21.9,29.3,75.68
9353,9353,04/04/2005,11.00.00,2.4,1163.0,NaN,11.4,1027.0,353.0,604.0,179.0,1264.0,1269.0,24.3,23.7,71.19
9354,9354,04/04/2005,12.00.00,2.4,1142.0,NaN,12.4,1063.0,293.0,603.0,175.0,1241.0,1092.0,26.9,18.3,64.06
9355,9355,04/04/2005,13.00.00,2.1,1003.0,NaN,9.5,961.0,235.0,702.0,156.0,1041.0,770.0,28.3,13.5,51.39
9356,9356,04/04/2005,14.00.00,2.2,1071.0,NaN,11.9,1047.0,265.0,654.0,168.0,1129.0,816.0,28.5,13.1,50.28

### 1. What times of day have the highest (and lowest) air pollution

In [ ]:
## time_df gets the mean of each column for each time of measurement (hourly)
time_df = df.groupby('Time').mean()
time_df = time_df.reset_index()
time_df.head()

In [ ]:
sns.set(rc={'figure.figsize':(50,20)})
time_plot = sns.lineplot(x='Time',
            y='value',
            hue='variable',  
            linewidth=5,
            data= pd.melt(time_df, ['Time']))
time_plot.axes.set_title('Mean Daily Airbourne Metallic Oxides', fontsize=50)
time_plot.set_xlabel('Time of Day', fontsize=40)
time_plot.set_ylabel('Metal Oxide Values', fontsize=40)
time_plot.tick_params(labelsize=20)
plt.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)
time_plot

*Time plot analysis*
<br>
There are two obvious peaks in airbourne metal oxides: between 7 and 10 AM, and between 5 and 9 PM. This is most likely due to increase commuter activity during rush hours. There is also a low between 4 and 5 AM.

### 2. Why do the two Tungsten Oxides have such a negative correlation

In [ ]:
tungsten_data = pd.DataFrame({'Temperature (C)':df['Temperature (C)'],
                             'Tungsten Oxide (NOx)':df['Tungsten Oxide (NOx)'],
                             'Tungsten Oxide (NO2)':df['Tungsten Oxide (NO2)']})
tungsten_data.head()

In [ ]:

res = sns.lineplot(x='Temperature (C)',
            y='value',
            hue='variable',
            data= pd.melt(tungsten_data, ['Temperature (C)']))
res.set_xlabel("Temperature (C)",fontsize=30)
res.set_ylabel("Concentration",fontsize=20)
res.tick_params(labelsize=24)

*Tungsten Oxide Analysis* 
<br>
As we can see tungsten NOX is high during low temps and as they climb tungsten NO2 overtakes it, however, is it due to temperature or other factors?

In [ ]:
df1 = df[['Temperature (C)', 'Tungsten Oxide (NO2)', 'Tungsten Oxide (NOx)']].copy()
corr = df1.corr()# plot the heatmap
res = sns.heatmap(corr, xticklabels=corr.columns, yticklabels=corr.columns, annot=True, cmap=sns.diverging_palette(250, 20, as_cmap=True))
res.set_xticklabels(res.get_xmajorticklabels(), fontsize = 25)
res.set_yticklabels(res.get_ymajorticklabels(), fontsize = 25)
plt.title('Tunsgten correlation')

*Correlation analysis*
<br>
As we can see NO2 is has a moderate positive correlation to temperature, however, NOx has a weak negative correlation to temperature. However, they both have moderate negative correlations so maybe their concentrations are dependant on something else.
<br>
*__Could be__* 
- Time of the day?
- Time of year?

In [ ]:
df2 = pd.DataFrame({'Time':df['Time'],
                             'Tungsten Oxide (NOx)':df['Tungsten Oxide (NOx)'],
                             'Tungsten Oxide (NO2)':df['Tungsten Oxide (NO2)']})
res = sns.lineplot(x='Time',
            y='value',
            hue='variable',
            data= pd.melt(df2, ['Time']))
res.set_xlabel("X Label",fontsize=30)
res.set_ylabel("Y Label",fontsize=20)
res.set(xlabel='Time', ylabel='Concentration')
res.tick_params(labelsize=24)

*Time analysis*
<br>
Nothing notable here besides the dip & increase between 0000 & 0800 but that most likely correlates to a temperature drop

In [ ]:
df2 = pd.DataFrame({'Time':df['Time'],
                             'Temp':df['Temperature (C)']})
res = sns.lineplot(x='Time',
            y='value',
            hue='variable',
            data= pd.melt(df2, ['Time']))
res.set_xlabel("X Label",fontsize=30)
res.set_ylabel("Y Label",fontsize=20)
res.set(xlabel='Time', ylabel='Concentration')
res.tick_params(labelsize=24)

*Temp analysis*
<br>
as predicted above it is due to the temps dropping

In [ ]:

df2 = pd.DataFrame({'Time':df['Time'],
                             'Tungsten Oxide (NOx)':df['Tungsten Oxide (NOx)'],
                             'Tungsten Oxide (NO2)':df['Tungsten Oxide (NO2)']})
df2.insert(0, 'Count', range(0,len(df2)))

df2.drop(labels='Time', axis =1)
df2
df2 = pd.DataFrame({'Count':df2['Count'],
                             'Tungsten Oxide (NOx)':df2['Tungsten Oxide (NOx)'],
                             'Tungsten Oxide (NO2)':df2['Tungsten Oxide (NO2)']})


res = sns.lineplot(x='Count',
            y='value',
            hue='variable',
            data= pd.melt(df2, ['Count']))
res.set_xlabel("X Label",fontsize=30)
res.set_ylabel("Y Label",fontsize=20)
res.set(xlabel='Time', ylabel='Concentration')
res.tick_params(labelsize=24)

*longterm trend analysis*
<br>
No distinctive changes throughout the year besides an overall dip near the end of the dataset